# Configuration files
.env
conf/config*.toml
conf/guild*.toml
!conf/config.example.toml
!conf/guild.example.toml

# Generated assets
.gen/

# Temporary object files
*.o
*.a

# Go mod dependencies
vendor/

# Go cache
go/
.gopath/

# Misc
*.log
.DS_Store

# Agentic files
.claude/plans
.claude/temp
